<!-- <h3 class="col-md-12 text-center">Elasticsearch server status: {{status}}</h3> -->


  <!-- <div *ngIf="student">
    <div>
      <label>First Name: </label> {{student.firstName}}
    </div>
    <div >
      <label>Last Name: </label> {{student.lastName}}
    </div>
    <div>
      <label>Course: </label> {{student.coueses.courseName}}
    </div>
    <div>
      <label>Credit: </label> {{student.coueses.credit}}
    </div>
    <hr/>
  </div> -->

 
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.coueses.courseName}}</td>
        <td>{{student.coueses.credit}}</td> 
       
